.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  max-width: 300px;
  text-align: center;
  margin: 20px auto;
}

.title {
  color: grey;
  font-size: 18px;
}

.card button {
  margin-bottom: 20px;
}
